@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Regular.ttf");
}

@font-face {
  font-family: "MontserratBold";
  src: url("Montserrat-Bold.ttf");
}

@font-face {
  font-family: "GothicA1";
  src: url("GothicA1-Regular.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  background-color: #f0f2f4;
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

nav {
  height: 100px;
  width: 100%;
  /* background-color: #f2f3f5; */
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

#logo img {
  width: 700px;
  height: 21px;
}

#logo {
  padding: 35px 0;
}

#logo-2 img {
  width: 165px;
  height: 60px;
}

#logo-2 {
  padding: 20px;
}

#menu {
  display: flex;
  flex-direction: row;
}

.menu-item a {
  padding: 5px;
  margin-right: 20px;
  color: #455a75;
  transition: all .2s ease;
}

.menu-item a:hover {
  background-color: #115383;
  color: #fff;
}

header {
  height: 150px;
  width: 100%;
  overflow: hidden;
}

header img {
  object-fit: contain;
  width: 100%;
}

#box {
  width: 80%;
  position: absolute;
  top: -86px;
  left: 50%;
  transform: translateX(-50%);
}

#box-header {
  background-color: #115383;
  border-radius: 20px 20px 0 0;
  padding: 10px 30px;
}

#box-header h1 {
  font-weight: normal;
  color: #fff;
  font-size: 28px;
  margin: 0;
}

.md-stepper-horizontal {
  display: table;
  width: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
  /* box-shadow: 0 3px 8px -6px rgba(0,0,0,.50); */
}

.md-stepper-horizontal .md-step {
  display: table-cell;
  position: relative;
  padding: 24px;
}


/* .md-stepper-horizontal .md-step:hover,
.md-stepper-horizontal .md-step:active {
	background-color:rgba(0,0,0,0.04);
} */

.md-stepper-horizontal .md-step:active {
  border-radius: 15% / 75%;
}

.md-stepper-horizontal .md-step:first-child:active {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.md-stepper-horizontal .md-step:last-child:active {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}


/* .md-stepper-horizontal .md-step:hover .md-step-circle {
	background-color:#757575;
} */

.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {
  display: none;
}

.md-stepper-horizontal .md-step .md-step-circle {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  background-color: #999999;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
}

.md-stepper-horizontal.green .md-step.active .md-step-circle {
  background-color: #00AE4D;
}

.md-stepper-horizontal.orange .md-step.active .md-step-circle {
  background-color: #115383;
}

.md-stepper-horizontal .md-step.active .md-step-circle {
  background-color: rgb(33, 150, 243);
}

.md-stepper-horizontal .md-step.done .md-step-circle:before {
  font-family: 'FontAwesome';
  font-weight: 100;
  content: "\f00c";
}

.md-stepper-horizontal .md-step.done .md-step-circle *,
.md-stepper-horizontal .md-step.editable .md-step-circle * {
  display: none;
}

.md-stepper-horizontal .md-step.editable .md-step-circle {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.md-stepper-horizontal .md-step.editable .md-step-circle:before {
  font-family: 'FontAwesome';
  font-weight: 100;
  content: "\f040";
}

.md-stepper-horizontal .md-step .md-step-title {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 600;
}

.md-stepper-horizontal .md-step .md-step-title,
.md-stepper-horizontal .md-step .md-step-optional {
  text-align: center;
  color: rgba(0, 0, 0, .26);
}

.md-stepper-horizontal .md-step.active .md-step-title {
  font-weight: 600;
  color: rgba(0, 0, 0, .87);
}

.md-stepper-horizontal .md-step.active.done .md-step-title,
.md-stepper-horizontal .md-step.active.editable .md-step-title {
  font-weight: 600;
}

.md-stepper-horizontal .md-step .md-step-optional {
  font-size: 12px;
}

.md-stepper-horizontal .md-step.active .md-step-optional {
  color: rgba(0, 0, 0, .54);
}

.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
  position: absolute;
  top: 36px;
  height: 1px;
  border-top: 1px solid #DDDDDD;
}

.md-stepper-horizontal .md-step .md-step-bar-right {
  right: 0;
  left: 50%;
  margin-left: 20px;
}

.md-stepper-horizontal .md-step .md-step-bar-left {
  left: 0;
  right: 50%;
  margin-right: 20px;
}

#box-content {
  background-color: #fff;
}

.layout label {
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  display: inline-block;
  color: inherit;
  transition: border 0.2s;
  border-bottom: 5px solid rgba(142, 68, 173, 0.2);
  padding: 3px 2px;
}

.layout label:hover {
  border-bottom-color: #115383;
}

.layout {
  display: grid;
  height: 500px;
  width: 80%;
  overflow: hidden;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr 1fr;
}

input[type=radio] {
  display: none;
}

.layout label.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-bottom: 2px solid #115383;
  background: #ecf0f1;
  user-select: none;
  transition: background 0.4s, padding-left 0.2s;
  padding-left: 0;
}

input[type=radio]:checked+.page+label.nav {
  background: #115383;
  color: #ffffff;
  /* padding-left: 20px; */
}


/* input[type=radio]:checked+.page+label.nav span {
  padding-left: 20px;
} */

input[type=radio]:checked+.page+label.nav svg {
  opacity: 1;
}

.layout label.nav span {
  padding-left: 0px;
  position: relative;
}

.layout label.nav svg {
  left: 0;
  top: -3px;
  position: absolute;
  width: 15px;
  opacity: 0;
  transition: opacity 0.2s;
}

.page {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-column-end: span 3;
  padding: 0px 20px;
  display: flex;
  align-items: center;
}

.page-contents>* {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.2s, transform 0.2s;
}

.page-contents>*:nth-child(1) {
  transition-delay: 0.4s;
}

.page-contents>*:nth-child(2) {
  transition-delay: 0.6s;
}

.page-contents>*:nth-child(3) {
  transition-delay: 0.8s;
}

.page-contents>*:nth-child(4) {
  transition-delay: 1s;
}

.page-contents>*:nth-child(5) {
  transition-delay: 1.2s;
}

.page-contents>*:nth-child(6) {
  transition-delay: 1.4s;
}

.page-contents>*:nth-child(7) {
  transition-delay: 1.6s;
}

.page-contents>*:nth-child(8) {
  transition-delay: 1.8s;
}

.page-contents>*:nth-child(9) {
  transition-delay: 2s;
}

.page-contents>*:nth-child(10) {
  transition-delay: 2.2s;
}

.page-contents>*:nth-child(11) {
  transition-delay: 2.4s;
}

.page-contents>*:nth-child(12) {
  transition-delay: 2.6s;
}

.page-contents>*:nth-child(13) {
  transition-delay: 2.8s;
}

.page-contents>*:nth-child(14) {
  transition-delay: 3s;
}

.page-contents>*:nth-child(15) {
  transition-delay: 3.2s;
}

.page-contents>*:nth-child(16) {
  transition-delay: 3.4s;
}

.page-contents>*:nth-child(17) {
  transition-delay: 3.6s;
}

.page-contents>*:nth-child(18) {
  transition-delay: 3.8s;
}

.page-contents>*:nth-child(19) {
  transition-delay: 4s;
}

.page-contents>*:nth-child(20) {
  transition-delay: 4.2s;
}

input[type=radio]+.page {
  transition: transform 0.2s;
  transform: translateX(100%);
}

input[type=radio]:checked+.page {
  transform: translateX(0%);
}

input[type=radio]:checked+.page .page-contents>* {
  opacity: 1;
  transform: translateY(0px);
}

.page-contents {
  width: 80%;
  margin: 0 auto;
}

.file-upload {
  background-color: #ffffff;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #115383;
  border: none;
  padding: 10px;
  border-radius: 4px;
  /* border-bottom: 4px solid #115383; */
  transition: all .2s ease;
  outline: none;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
}

.file-upload-btn:hover {
  background: #277CBF;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content,
.file-upload-content-csv {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap,
.image-upload-wrap-csv {
  margin-top: 20px;
  border: 4px dashed #ABABAB;
  position: relative;
  box-sizing: border-box;
}

.image-dropping,
.image-upload-wrap:hover,
.image-upload-wrap-csv:hover {
  background-color: #A0DBEA;
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  color: #000000;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.btn {
  color: #fff;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  font-family: Montserrat;
  border: none;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image {
  background: #cd4535;
}

.digitise-image {
  background: #115383;
}

.remove-image:hover {
  background: #c13b2a;
}

.digitise-image:hover {
  background: #0f4972;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

#show-digitise {
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.is-hidden {
  display: none;
}

footer {
  margin-top: 900px;
}

#footer-1 {
  height: 70px;
  background-color: #4A505B;
  width: 100%;
}

#footer-1 #footer-1-left a {
  color: #fff;
  line-height: 70px;
  padding: 0 20px 10px;
  border-bottom: 1px solid #4A505B;
  transition: all .2s ease;
}

#footer-1 #footer-1-left a:hover {
  color: #fff;
  line-height: 70px;
  padding: 0 20px 10px;
  border-bottom: 1px solid #fff;
}

.social-media {
  height: 35px;
  width: 35px;
}

#footer-1-right a {
  padding: 0 10px;
}

#footer-1-right img {
  margin: 15px 0;
}

#footer-2 {
  background-color: #fff;
  padding: 30px 0;
}

#footer-2-bottom a img {
  margin: 30px 10px 0px;
}

#footer-3 {
  background-color: #4A505B;
  color: #fff;
  padding: 20px 0;
}

#footer-3-left {
  font-size: 18px;
  text-align: right;
}

#footer-3-right {
  font-size: 12px;
  font-style: italic;
  margin-left: 20px;
  padding: 5px 0;
}

#footer-4 {
  background-color: #d1d1d1;
  height: 50px;
  color: #4A505B;
  font-size: 12px;
  text-align: center;
  line-height: 50px;
}

.box-content-core {
  padding: 0 30px 30px;
}

.box-content-core p {
  text-align: justify;
  font-family: GothicA1, Arial, sans-serif;
}

.confirmation-box {
  border: 1px solid #4A505B;
  width: 400px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

.btn-red {
  background: #cd4535;
}

.btn-blue {
  background: #115383;
}

.btn-red:hover {
  background: #c13b2a;
}

.btn-blue:hover {
  background: #0f4972;
}

.form-group {
  margin-top: 20px;
}

.form-group label {
  font-size: 14px;
  margin-bottom: 5px;
}

.input-box {
  padding: 10px;
  outline: none;
  border: 1px solid #4A505B;
}

.danger-alert {
  font-size: 14px;
  color: #cd4535;
  padding: 5px 0;
}

h2 {
  margin-bottom: 0;
  padding: 0;
}

.red-text {
  color: #cd4535;
  font-size: 14px;
}

.btn-grey {
  color: #ABABAB;
  cursor: not-allowed;
}

#k-form-group,
#tto-form-group,
#lambda-form-group,
#incident-form-group {
  display: none;
}

.link-text {
  color: #115383;
  text-decoration: underline;
}

.left-core,
.right-core {
  width: 45%;
  min-height: 400px;
  border: 1px solid #000;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

table,
tr,
td {
  border: 1px solid #000;
}

td {
  padding: 10px;
}