<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WEC Performance Metrics Comparator</title>
  <link rel="stylesheet" href="../static/CSS/style.css">
  <script src="../static/JS/jquery-3.6.0.min.js"></script>

</head>

<body>
  <nav>
    <div class="container flex flex-row space-between">
      <div id="logo">
        <img src="../static/image/logo.png" alt="" srcset="">
      </div>
      <div id="logo-2">
        <img src="../static/image/WERC_logo_final.png" alt="">
      </div>
    </div>
  </nav>
  <header>
    <img src="../static/image/bg.jpg" alt="">
  </header>
  <div class="container" style="position: relative;">
    <div id="box">
      <div id="box-header">
        <h1>Wave Energy Converter Performance Metric Comparator</h1>
      </div>
      <div id="box-content">
        <div class="md-stepper-horizontal orange">
          <div class="md-step active">
            <div class="md-step-circle"><span>1</span></div>
            <!-- <div class="md-step-title">Insert File</div> -->
            <div class="md-step-bar-left"></div>
            <div class="md-step-bar-right"></div>
          </div>
          <div class="md-step active">
            <div class="md-step-circle"><span>2</span></div>
            <!-- <div class="md-step-title">Step 2</div> -->
            <div class="md-step-bar-left"></div>
            <div class="md-step-bar-right"></div>
          </div>
          <div class="md-step">
            <div class="md-step-circle"><span>3</span></div>
            <!-- <div class="md-step-title">Step 3</div> -->
            <div class="md-step-bar-left"></div>
            <div class="md-step-bar-right"></div>
          </div>
          <div class="md-step">
            <div class="md-step-circle"><span>4</span></div>
            <!-- <div class="md-step-title">Step 4</div> -->
            <div class="md-step-bar-left"></div>
            <div class="md-step-bar-right"></div>
          </div>
          <div class="md-step">
            <div class="md-step-circle"><span>5</span></div>
            <!-- <div class="md-step-title">Step 4</div> -->
            <div class="md-step-bar-left"></div>
            <div class="md-step-bar-right"></div>
          </div>
          <div class="md-step">
            <div class="md-step-circle"><span>6</span></div>
            <!-- <div class="md-step-title">Step 4</div> -->
            <div class="md-step-bar-left"></div>
            <div class="md-step-bar-right"></div>
          </div>
        </div>
        <form action="" method="post" enctype="multipart/form-data">
        <div class="box-content-core">
          <p><b>Instructions</b></p>
          <p>Insert a csv/txt file containing a set of power performance data points of a WEC device. For each row, the first entry should contain an x-value and the second entry the corresponding y-value. Do not use header.</p>

          <p>Or</p>

          <p>If the plot has bot been digitised, use the webplotdigitiser window on the right to obtain digitised values from a WEC device's power performance curve. Instructions on how to use the webplotdigitise can be found <a href="https://youtu.be/Mv5nqAPCKA4"
              class="link-text">here</a>.
          </p>
          <p>Upload the plot as a JPG/PNG file and its corresponding digitised values as a csv/text file to the drag and drop box below.</p>

          <div class="layout" style="margin: 0 auto;">
            <input name="nav" type="radio" class="nav home-radio" id="home" checked="checked" />
            <div class="page home-page">
              <div class="page-contents">
                <div class="file-upload">
                 
                    <!-- <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add File</button> -->

                    <div class="image-upload-wrap">
                      <input class="file-upload-input" name = "file" type='file' onchange="readURL(this);" accept=".txt,.csv,.jpg,.png" multiple />
                      <div class="drag-text">
                        <h3 class="elementor-heading-title elementor-size-default">Drag and drop a file or click here to upload file</h3>
                      </div>
                    </div>
                    <div class="file-upload-content">
                      <!-- <img class="file-upload-image" src="#" alt="your image" /> -->
                      <span class="image-title"></span><br><br>
                      <div class="image-title-wrap">
                        <button type="reset" onclick="removeUpload()" class="btn remove-image">Remove File</button>
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <label class="nav" for="home">
                          <span>
                              Image File
                          </span>
                      </label>

            <input name="nav" type="radio" class="about-radio" id="about" />
            <div class="page about-page">
              <div class="page-contents">

                <iframe src="https://apps.automeris.io/wpd/" frameborder="" width="100%" height="100%" allowfullscreen></iframe>
              </div>
            </div>
            <label class="nav" for="about">
                          <span>
                              Webplotdigitiser
                          </span>
                      </label>
          </div>

          <h2>Parameter Input</h2> <br>
          <div class="danger-alert">
            *Required Fields
          </div>
            <div class="form-group flex flex-column">
              <div class="flex flex-row">
                <label for="unitx">Select the given unit of x axis of the inputted plot/data <span class="red-text">*</span></label>&nbsp;<span class="red-text" id="error-unitx"></span>
              </div>
              <select name="unitx" id="unitx" class="input-box">
              <option name="unitx" value="">Select</option>
              <option name="unitx" value="t">T (s)</option>
              <option name="unitx" value="frequency">Frequency (1/s)</option>
              <option name="unitx" value="rot-frequency">Rotational Frequency (rad/s)</option>
              <option name="unitx" value="k">k * x</option>
              <option name="unitx" value="tto">T/TO</option>
              <option name="unitx" value="lambda">Lambda/L</option>
            </select>
            </div>
            <div id="k-form-group">
              <div class="form-group flex flex-column">
                <div class="flex flex-row">
                  <label for="k">Enter the value of x (e.g. water depth, width, radius) that has been multiplied by the wavenumber, k: <span class="red-text">*</span></label>&nbsp;<span class="red-text" id="error-k"></span>
                </div>
                <input type="text" name="k" id="k" class="input-box">
              </div>
            </div>
            <div id="tto-form-group">
              <div class="form-group flex flex-column">
                <div class="flex flex-row">
                  <label for="tto">Enter the value of the resonant wavelength (lambda zero) <span class="red-text">*</span></label>&nbsp;<span class="red-text" id="error-tto"></span>
                </div>
                <input type="text" name="tto" id="tto" class="input-box">
              </div>
            </div>
            <div id="lambda-form-group">
              <div class="form-group flex flex-column">
                <div class="flex flex-row">
                  <label for="lambda">Enter the value of L, i.e. the value the wavelength has been divided by <span class="red-text">*</span></label>&nbsp;<span class="red-text" id="error-lambda"></span>
                </div>
                <input type="text" name="lambda" id="lambda" class="input-box">
              </div>
            </div>
            <div class="form-group flex flex-column">
              <div class="flex flex-row">
                <label for="unity">Select the given unit of y axis of the inputted plot/data <span class="red-text">*</span></label>&nbsp;<span class="red-text" id="error-unity"></span>
              </div>
              <select name="unity" id="unity" class="input-box">
              <option name = "unity" value="">Select</option>
              <option name = "unity" value="dam">da (m)</option>
              <option name = "unity" value="dapercent">da ratio (%)</option>
              <option name = "unity" value="dadecimal">da ratio (decimal)</option>
              <option name = "unity" value="psmkw">Power per square metre (kW/m&sup2;)</option>
              <option name = "unity" value="psmw">Power per square metre (W/m&sup2;)</option>
              <option name = "unity" value="pkw">Power (kW)</option>
              <option name = "unity" value="pw">Power (W)</option>
              <option name = "unity" value="da*k">da*k</option>
              <option name = "unity" value="da/lambda">da/Lambda</option>
            </select>
            </div>
            <div id="incident-form-group">
              <div class="form-group flex flex-column">
                <div class="flex flex-row">
                  <label for="incident">Enter incident wave amplitude in metres <span class="red-text">*</span></label>&nbsp;<span class="red-text" id="error-incident"></span>
                </div>
                <input type="text" name="incident" id="incident" class="input-box">
              </div>
            </div>
            <div class="form-group flex flex-column">
              <div class="flex flex-row">
                <label for="designperiod">Enter full-scale design period in seconds <span class="red-text">*</span></label>&nbsp;<span class="red-text" id="error-designperiod"></span>
              </div>
              <input type="text" name="designperiod" id="designperiod" class="input-box" value="9">
            </div>
            <div class="form-group flex flex-column">
              <div class="flex flex-row">
                <label for="lowercutoff">Enter full-scale lower cut-off period in seconds <span class="red-text">*</span></label>&nbsp;<span class="red-text" id="error-lowercutoff"></span>
              </div>
              <input type="text" name="lowercutoff" id="lowercutoff" class="input-box" value="4">
            </div>
            <div class="form-group flex flex-column">
              <div class="flex flex-row">
                <label for="uppercutoff">Enter full-scale upper cut-off period in seconds <span class="red-text">*</span></label>&nbsp;<span class="red-text" id="error-uppercutoff"></span>
              </div>
              <input type="text" name="uppercutoff" id="uppercutoff" class="input-box" value="14">
            </div>
            <div class="form-group flex flex-row space-between">
              <div>&nbsp;</div>
              <a href="/step3"> <button type="submit" class="btn btn-grey" disabled id="step2-submit-btn">Next</button></a>
            </div>
          
        </div>
      </div>
    </div>
  </div>
</form>
  <footer style="margin-top: 1600px;">
    <div class="flex flex-column">
      <div id="footer-1">
        <div class="container flex flex-row space-between">
          <div id="footer-1-left" class="flex flex-row">
            <div class="footer-link-box"><a href="https://marineresearch-gs.com/site-map/">Site Map</a></div>
            <div class="footer-link-box"><a href="https://marineresearch-gs.com/privacy/">Privacy Policy</a></div>
            <div class="footer-link-box"><a href="https://marineresearch-gs.com/terms-of-use/">Term of Use</a></div>
          </div>
          <div id="footer-1-right">
            <a href="https://www.facebook.com/waveenergyRC/"><img src="../static/image/facebook-circular-logo.png" alt="" class="social-media"></a>
            <a href="https://twitter.com/wave_energy_RC"><img src="../static/image/twitter.png" alt="" class="social-media"></a>
            <a href="https://www.instagram.com/explore/locations/217581938793310/wave-energy-research-centre/?hl=en"><img src="../static/image/instagram.png" alt="" class="social-media"></a>
            <a href="https://marineresearch-gs.com/"><img src="../static/image/GSMRF-logo-white-short.png" alt="" width="240" height="35"></a>
          </div>
        </div>
      </div>
      <div id="footer-2">
        <div class="container flex flex-column">
          <div id="footer-2-top">Great Southern Marine Research Facility thanks our supporters</div>
          <div id="footer-2-bottom">
            <div class="flex flex-row space-between">
              <a href="https://www.uwa.edu.au"><img src="../static/image/UWA-1024x336.jpg" alt="" width="245" height="80"></a>
              <a href="https://dpird.wa.gov.au"><img src="../static/image/DPIRD_fullcolour_blacktext-high-res.png" alt="" width="245" height="80"></a>
              <a href="https://marineresearch-gs.com/wave-energy-research-centre/"><img src="../static/image/WERC_logo_final.png" alt="" width="245" height="88"></a>
              <a href="https://imos.org.au/"><img src="../static/image/IMOS_logo-stacked.jpg" alt="" width="150" height="85"></a>
            </div>
          </div>
        </div>
      </div>
      <div id="footer-3">
        <div class="container flex-row flex">
          <div id="footer-3-left" class="flex flex-column">
            <div>CULTURAL</div>
            <div>ACKNOWLEDGEMENT</div>
          </div>
          <div id="footer-3-right">
            We wish to acknowledge the traditional custodians of the land that Great Southern Marine Research Facility stands upon, the Minang Noongar people. We wish to acknowledge and respect their continuing culture and the contribution they make to the life of
            this region.
          </div>
        </div>
      </div>
      <div id="footer-4">
        © 2021 Great Southern Marine Research Facility - Site by Unbranded Space
      </div>
    </div>
  </footer>
  <script src="../static/JS/main.js"></script>
</body>

</html>